header{
    padding: 20px 0px;
    text-align: center;
    background-color: black;
}

.logo-image{
    background-size: 200px;
    width: 200px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png");
}
